.jumboHomeContainer {
  background-image: url("../../../assets/8.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.TextHomeLantick {
  font-size: 50px;
  color: #fafaf7;
  text-shadow: 1px 1px 0px #1d1719;
  margin-top: 66px;
}
.DescHomeLantick {
  font-size: 20px;
  color: #fafaf7;
  text-shadow: 1px 1px 0px #1c2001;
  /* margin-bottom: 10px; */
}
.row {
  padding: 40px 0px 60px 0px;
}
